<a href="https://colab.research.google.com/github/HerrySaraswat0708/JEC-IndProj-Team21/blob/main/Logistic%20Regression%20model%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importing libraries
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
#Readind Data in variable data
data = pd.read_csv('/content/winequality-red.csv',sep=';')

In [5]:
#Displaying the data 
data

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
3              11.2             0.280         0.56  ...       0.58      9.8        6
4               7.4             0.700         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1594            6.2             0.600         0.08  ...       0.58     10.5        5
1595            5.9             0.550         0.10  ...       0.76     11.2        6
1596            6.3             0.510         0.13  ...       0.75     11.0        6
1597            5.9             0.645         0.12  ...       0.71     10.2        5
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[1599 rows x 12 columns]

In [6]:
#Assigning the features value to X
X = data.iloc[:,:11]

In [7]:
#Assigning the label value to Y
y = data.iloc[:,11]

In [8]:
#Creating the object of LinearRegression model
lr = LinearRegression()

In [9]:
#Loading the data in model
lr.fit(X,y)

LinearRegression()

In [10]:
#Predicting the data 
lr.predict(X)

array([5.03285045, 5.13787975, 5.20989474, ..., 5.94304255, 5.47075621,
       6.00819633])

In [11]:
#Displaying the accuracy of our model 
lr.score(X,y)

0.36055170303868833

In [13]:
#Displying the coefficients
lr.coef_

array([ 2.49905527e-02, -1.08359026e+00, -1.82563948e-01,  1.63312698e-02,
       -1.87422516e+00,  4.36133331e-03, -3.26457970e-03, -1.78811638e+01,
       -4.13653144e-01,  9.16334413e-01,  2.76197699e-01])